/* FONTS */
@font-face {
	font-family: 'Rubik';
	src:
		url('../fonts/Rubik-Medium.woff2') format('woff2'),
		url('../fonts/Rubik-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src:
		url('../fonts/Rubik-Bold.woff2') format('woff2'),
		url('../fonts/Rubik-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: #f6f6f6;
	--main-text: #4a4b4c;
	--blue-color: #2959ce;
	--text-color: #555555;
	--white-color: #ffffff;
	--black-color: #000000;
	--border-color: #1d1d1d;
	--orange-color: #f78b3b;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4;
	color: var(--main-text);
	background-color: var(--white-color);
}

.container {
	max-width: 1240px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

/* HEADER START */

.header {
	background-color: var(--bg-color);
	padding-top: 30px;
	padding-bottom: 30px;
}

.header__container {
	display: flex;
	align-items: center;
}

.logo {
	background-color: var(--white-color);
	border-radius: 7px;
	padding: 8px 6px;
	display: flex;
	margin-right: 35px;
}

.header__price {
	display: flex;
	align-items: center;
	gap: 25px;
	margin-right: auto;
}

.header__price span:nth-child(1) {
	font-weight: 700;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--blue-color);
}

.header__price span:nth-child(2) {
	font-weight: 400;
	font-style: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--text-color);
}

.form {
	display: flex;
	align-items: center;
	padding: 12px 15px;
	background-color: var(--white-color);
	border-radius: 60px;
	gap: 6px;
	max-width: 275px;
	width: 100%;
	margin-right: 25px;
	margin-left: 20px;
}

.form:hover {
	outline: 2px solid var(--blue-color);
}

.form input {
	outline: none;
	border: none;
	background-color: transparent;
	width: 100%;
}

.header__leng {
	display: flex;
	align-items: center;
	background-color: #dce6ff;
	padding: 3px 13px 3px 3px;
	border-radius: 39px;
	border: none;
	gap: 8px;
	cursor: pointer;
	margin-right: 25px;
}

.header__leng-active {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: var(--white-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	font-size: 13px;
	line-height: 12px;
	letter-spacing: 0%;
	color: var(--black-color);
}

.header__leng-ru {
	font-weight: 400;
	font-size: 13px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #a6a6a6;
}

.btn {
	position: relative;
	overflow: hidden;
	border: none;
	background: linear-gradient(135deg, var(--blue-color), #2563eb);
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	color: var(--white-color);
	padding: 13px 20px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 6px 18px rgba(37, 99, 235, 0.35);
	transition: all 0.4s ease;
}

.btn:hover {
	background: linear-gradient(135deg, #9333ea, var(--blue-color));
	transform: translateY(-2px);
	box-shadow: 0 14px 35px rgba(147, 51, 234, 0.55);
}

.btn:active {
	transform: scale(0.95);
	box-shadow: 0 6px 14px rgba(37, 99, 235, 0.45);
}

.btn span.ripple {
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	background: rgba(255, 255, 255, 0.45);
	animation: ripple 600ms linear;
	pointer-events: none;
}

.menu {
	border: none;
	background-color: transparent;
	margin-left: auto;
	display: none;
}

/* HEADER END */

/* NAV START */

.nav {
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--border-color);
}

.nav__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 34px;
}

.nav__link {
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	color: #7f7f7f;
	transition: all 0.4s ease;
}

.nav__link:hover {
	transform: translateY(-6px) scale(1.01) rotate(100deg);
	box-shadow:
		0 18px 40px rgba(0, 0, 0, 0.5),
		inset 0 0 0 1px rgba(99, 102, 241, 0.4);
	background-color: var(--blue-color);
	border-radius: 10px;
	color: var(--white-color);
	padding: 3px;
}

/* NAV END */

/* CONTACT START */
.contact {
	padding: 60px 0 100px;
	background-color: var(--white-color);
}

.contact__container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}

.contact__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 20px;
	color: var(--black-color);
}

.contact__wrapper {
	display: flex;
	gap: 30px;
}

.contact__left {
	flex: 1;
}

.contact__form {
	display: flex;
	flex-direction: column;
}

.contact__row {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}

.contact__input {
	width: 100%;
	height: 50px;
	padding: 0 15px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	font-size: 14px;
	color: var(--black-color);
	background-color: var(--white-color-color);
}

.contact__input--full {
	margin-bottom: 20px;
}

.contact__textarea {
	width: 100%;
	height: 150px;
	padding: 15px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	font-size: 14px;
	resize: none;
	margin-bottom: 20px;
	background: #fff;
}

.contact__btn {
	width: 221px;
	height: 50px;
	background-color: #7297ef;
	border-radius: 5px;
	border: none;
	color: var(--white-color);
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.4s ease;
}

.contact__btn:hover {
	background-color: var(--white-color);
	border: 2px solid var(--blue-color);
	color: var(--black-color);
}

.contact__btn:active {
	opacity: 0.6;
}

/* RIGHT SIDE */

.contact__right {
	width: 393px;
	height: 310px;
	background: var(--white-color);
	border-radius: 5px;
	padding: 25px 30px;
	background-color: var(--bg-color);
}

.contact__info {
	margin-bottom: 25px;
	border-bottom: 1px solid #d2d2d2;
}

.contact__info:last-child {
	margin-bottom: 0;
}

.contact__info h3 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 8px;
	color: #000;
}

.contact__info p {
	font-size: 14px;
	color: #555;
	margin-bottom: 20px;
}

/* CONTACT END */

/* FOOTER START */

.footer {
	background: #7a9df2;
	color: #fff;
	padding: 40px 20px;
}

.container1 {
	max-width: 1000px;
	margin: auto;
	display: flex;
	gap: 40px;
}

.footer-box {
	flex: 1;
}

.footer-box h3,
.footer-box h4 {
	margin-bottom: 15px;
}

.footer-box p {
	font-size: 14px;
	line-height: 1.5;
}

.footer-box a {
	display: block;
	color: #fff;
	text-decoration: none;
	margin-bottom: 10px;
	font-size: 14px;
	transition: all 0.4s ease;
}

.footer-box a:hover {
	border: none;
	transform: translateY(-6px) scale(1.01);
	box-shadow:
		0 18px 40px rgba(0, 0, 0, 0.5),
		inset 0 0 0 1px rgba(99, 102, 241, 0.4);
	border-radius: 10px;
}

.footer-bottom {
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-bottom span {
	max-width: 161px;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.2;
	margin-left: 155px;
}

.socials img {
	transition: all 0.4s ease;
}

.socials a {
	margin-left: 10px;
	color: var(--white-color);
}

.socials img:hover {
	transform: scale(1.3);
}

/* FOOTER END */

/* MEDIA START */
@media screen and (max-width: 990px) {
	/* CPNTACT START */
	.contact__wrapper {
		flex-direction: column;
	}

	.contact__right {
		width: 100%;
	}

	.contact__btn {
		width: 100%;
	}
	/* CONTACT END */
}

@media screen and (max-width: 850px) {
	/* HEADER START */

	.header {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.logo {
		margin-right: 25px;
	}

	.header__price {
		gap: 12px;
	}

	.form {
		padding: 10px 12px;
		margin-left: 17px;
		margin-right: 17px;
	}

	.header__leng {
		margin-right: 17px;
	}

	.btn {
		padding: 12px 17px;
	}

	.card {
		grid-template-columns: repeat(2, 1fr);
	}

	/* HEADER END */
	/* FOOTER START */

	.container1 {
		gap: 20px;
	}
}

@media screen and (max-width: 768px) {
	/* HEADER START */

	.logo {
		margin-right: 17px;
	}

	.logo img {
		width: 200px;
	}

	.form {
		padding: 8px 10px;
	}

	.form img {
		width: 17px;
		height: 17px;
	}

	.header__leng-active {
		width: 25px;
		height: 25px;
	}

	.btn {
		padding: 8px 10px;
	}

	.header__price {
		display: none;
	}

	/* HEADER END */
	/* NAV START */

	.nav {
		padding-top: 20px;
	}

	.nav__list {
		gap: 17px;
	}

	.nav__link {
		font-size: 15px;
	}

	/* NAV END */

	/* FOOTER START */

	.container1 {
		flex-direction: column;
	}
	/* FOOTER END */
	/* CONTACT START */
	.contact {
		padding: 40px 0 60px;
	}

	.contact__row {
		flex-direction: column;
		gap: 15px;
	}

	.contact__input {
		height: 45px;
	}

	.contact__textarea {
		height: 130px;
	}

	.contact__title {
		font-size: 20px;
	}
	/* CONTACT END */
}

@media screen and (max-width: 550px) {
	.form {
		display: none;
	}

	.header__leng {
		display: none;
	}

	.btn {
		display: none;
	}

	.menu {
		display: block;
	}
	/* FOOETR START */

	.footer-bottom {
		gap: 15px;
		text-align: center;
		flex-direction: column;
	}
}

@media screen and (max-width: 480px) {
	/* CONTACT START */
	.contact__container {
		padding: 0 10px;
	}

	.contact__right {
		padding: 20px;
	}

	.contact__info h3 {
		font-size: 14px;
	}

	.contact__info p {
		font-size: 13px;
	}
	/* CONTACT END */
}
/* MEDIA END */
